<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nete.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SActivity">
        </activity>
        <!--在清单文件中，注册第二个Activity，这一步最好在建立SActivity.java和layout1之后就注册好，
        这里用的是as，和eclipse有一点不同，eclipse设置android:name 的时候要设置完整的包名.类名-->
    </application>

</manifest>